.single-cell {
    height: 20px;
    width: 20px;
    border: solid black 1px;
}

.single-cell-target {
    height: 20px;
    width: 20px;
    border: solid black 1px;
    background: #49a2d1;
}

.single-cell-target:hover {
    background: black;
}


.single-cell:hover {
    background: #dbdbdb;
}