.single-cell {
    height: 20px;
    width: 20px;
    border: solid black 1px;
    border-radius: 8px;
}

.single-cell-target {
    height: 20px;
    width: 20px;
    border: solid black 1px;
    background: darkblue;
    border-radius: 8px;
}

.single-cell:hover {
    background: #dbdbdb;
}

.single-cell-path {
    height: 20px;
    width: 20px;
    border: solid black 1px;
    background: radial-gradient(circle,rgb(19, 191, 42),rgb(19, 105, 191));
    border-radius: 8px;
}

.single-cell-path:hover {
    background: seagreen;
}

.single-cell-wall {
    height: 20px;
    width: 20px;
    border: solid black 1px;
    background: black;
    border-radius: 8px;
}

.single-cell-visited {
    height: 20px;
    width: 20px;
    border: solid black 1px;
    border-radius: 8px;
    background: yellow;
}

.single-cell-searched {
    height: 20px;
    width: 20px;
    border: solid black 1px;
    border-radius: 8px;
    background: #eef571;
}

