.app-logo {
    height: 70px;
    width: 70px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    float: left;
}

.app-logo:hover {
    cursor: pointer;
}

.nav {
    background: black;
    height: 120px;
}

.links {
    padding-right: 30px;
    float: right;
    margin-top: 45px;
    align-items: center;
}

.app-name {
    color: white;
    font-size: 30px;
    float: left;
    margin-top: 25px;
    font-family: "Dubai Medium", serif;
}

.link-item {
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.link-item:hover {
    text-decoration: underline;
    text-underline: white;
}
