#tool-button {
    background: white;
    font-size: 20px;
    border: none;
    font-family: Roboto, cursive;
    padding: 10px;
}

#tool-button-clicked {
    font-size: 20px;
    border: none;
    font-family: Roboto, cursive;
    padding: 10px;
    background: rgb(61, 49, 235);
    color: white;
}

#tool-button:hover {
    cursor: pointer;
}

#img-tool {
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-right: 6px;
}